nav{
    text-align: center;
    
}
.navbarlist li {
    list-style: none;
    display: inline;
    margin-right: 20px;
}

img{
    width: 400px;
    
}
h2{
    color: chocolate;
    text-decoration: underline;
}